In [3]:
import pandas as pd

data_sakshi2={
    'Region':['North','South','East','West','North','South','East','West'],
    'Product':['A','B','A','B','C','C','B','A'],
    'Sales':[150,200,300,400,250,180,220,310],
    'Quantity':[10,15,20,25,12,14,16,18],
}

In [4]:
df=pd.DataFrame(data_sakshi2)
print("Sample Dataset:\n",df)

Sample Dataset:
   Region Product  Sales  Quantity
0  North       A    150        10
1  South       B    200        15
2   East       A    300        20
3   West       B    400        25
4  North       C    250        12
5  South       C    180        14
6   East       B    220        16
7   West       A    310        18

In [7]:
#Aggregating Sales by Region (Sum Aggregation)
sales_by_region_sakshi2=df.groupby('Region')['Sales'].sum()
print("\nTotal Sales by Region:\n",sales_by_region_sakshi2)

Total Sales by Region:
 Region
East     520
North    400
South    380
West     710
Name: Sales, dtype: int64

In [8]:
#Aggregating Sales and Quantity by Product (Mean Aggregation)
mean_by_product_sakshi2=df.groupby('Product')[['Sales','Quantity']].mean()
print("\nMean Sales and Quantity by Product:\n",mean_by_product_sakshi2)

Mean Sales and Quantity by Product:
               Sales   Quantity
Product
A        253.333333  16.000000
B        273.333333  18.666667
C        215.000000  13.000000

In [9]:
#Aggregating Count of Sales by Region (Count Aggregation)
count_by_region_sakshi2=df.groupby('Region')['Sales'].count()
print("\nCount of Sales Records by Region:\n",count_by_region_sakshi2)

Count of Sales Records by Region:
 Region
East     2
North    2
South    2
West     2
Name: Sales, dtype: int64

In [10]:
#Custom Aggregation: Calculate Min and Max Sales by Region
custom_aggregation_sakshi2=df.groupby('Region')['Sales'].agg(['min','max'])
print("\nCustom Aggregation (Min and Max Sales by Region):\n",custom_aggregation_sakshi2)

Custom Aggregation (Min and Max Sales by Region):
         min  max
Region
East    220  300
North   150  250
South   180  200
West    310  400

In [11]:
#Aggregating Sales by Region and Product 
multi_level_agg_sakshi2=df.groupby(['Region','Product'])['Sales'].sum()
print("\nSales by Region and Product:\n",multi_level_agg_sakshi2)

Sales by Region and Product:
 Region  Product
East    A          300
        B          220
North   A          150
        C          250
South   B          200
        C          180
West    A          310
        B          400
Name: Sales, dtype: int64

In [22]:
multi_level_agg_sakshi2_reset=multi_level_agg_sakshi2.reset_index()
print("\nSales by Region and Product (Reset Index):\n",multi_level_agg_sakshi2_reset)

Sales by Region and Product (Reset Index):
   Region Product  Sales
0   East       A    300
1   East       B    220
2  North       A    150
3  North       C    250
4  South       B    200
5  South       C    180
6   West       A    310
7   West       B    400

In [23]:
import pandas as pd

data_sakshi2={
    'Region':['North','South','East','West','North','South','East','West'],
    'Product':['A','B','A','B','C','C','B','A'],
    'Sales':[150,200,300,400,250,180,220,310],
    'Quantity':[10,15,20,25,12,14,16,18],
    'Date':pd.to_datetime(['2024-01-01','2024-01-02','2024-02-01','2024-02-03','2024-03-01','2024-03-02','2024-04-01','2024-04-02'])
}

In [24]:
df_sakshi2=pd.DataFrame(data_sakshi2)
print("Extended Dataset:\n",df_sakshi2)

Extended Dataset:
   Region Product  Sales  Quantity       Date
0  North       A    150        10 2024-01-01
1  South       B    200        15 2024-01-02
2   East       A    300        20 2024-02-01
3   West       B    400        25 2024-02-03
4  North       C    250        12 2024-03-01
5  South       C    180        14 2024-03-02
6   East       B    220        16 2024-04-01
7   West       A    310        18 2024-04-02

In [25]:
#Time Aggregation
df_sakshi2.set_index('Date',inplace=True)

In [27]:
#Aggregating Sales by Month
monthly_sales_sakshi2=df_sakshi2.resample('ME')['Sales'].sum()
print("\nTotal Sales by Month:\n",monthly_sales_sakshi2)

Total Sales by Month:
 Date
2024-01-31    350
2024-02-29    700
2024-03-31    430
2024-04-30    530
Freq: ME, Name: Sales, dtype: int64

In [28]:
#Aggregating Sales by Quarter
quarterly_sales_sakshi2=df_sakshi2.resample('QE')['Sales'].sum()
print("\nTotal Sales by Quarter:\n",quarterly_sales_sakshi2)

Total Sales by Quarter:
 Date
2024-03-31    1480
2024-06-30     530
Freq: QE-DEC, Name: Sales, dtype: int64

In [29]:
#Aggregating Sales by Year
yearly_sales_sakshi2=df_sakshi2.resample('YE')['Sales'].sum()
print("\nTotal Sales by Year:\n",yearly_sales_sakshi2)

Total Sales by Year:
 Date
2024-12-31    2010
Freq: YE-DEC, Name: Sales, dtype: int64

In [30]:
df_sakshi2.reset_index(inplace=True)

In [31]:
#Spatial Aggregation

sales_by_region_sakshi2=df_sakshi2.groupby('Region')['Sales'].sum()
print("\nTotal Sales by Region:\n",sales_by_region_sakshi2)

Total Sales by Region:
 Region
East     520
North    400
South    380
West     710
Name: Sales, dtype: int64

In [36]:
#Aggregating Sales by City
sales_by_region_quantity_sakshi2 = (df_sakshi2 .groupby(['Region', 'Quantity'])['Sales'].sum())

print("\nTotal Sales by Region and Quantity:\n", sales_by_region_quantity_sakshi2)

Total Sales by Region and Quantity:
 Region  Quantity
East    16          220
        20          300
North   10          150
        12          250
South   14          180
        15          200
West    18          310
        25          400
Name: Sales, dtype: int64

In [38]:
sales_by_region_quantity_sakshi2_reset=sales_by_region_quantity_sakshi2.reset_index()